.container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
    background-color: azure;
}

.titulo_login {
    text-align: center;
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blue;
    font-weight: 500;
}

form {
    text-align: center;
    text-wrap: 2rem;
}

#usuario, #senha{
    width: 60%;
    padding: 10px 90px 10px 3px;
    border-radius: 10px;
    margin-bottom: 10px;
    border-color:blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
}

#usuario::placeholder{
    text-align: left;
    font-weight: 300;
}

.logar{
    border-radius: 15px;
    border: none;
    background-color: turquoise;
    padding: 10px 30px 10px 30px;
    margin-bottom: 10px;
}

.logar:hover{
    background-color: aquamarine;
    border: aqua;
}

.caminho_cadastro{
    font-size: medium;
    color: gray;
    text-decoration: none;
    align-self: center;
}